html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*::selection {
  background-color: rgba(222, 222, 222, 0.6);
}


:root {
  --darkmode-bg1: #0d1117;
  /*--darkmode-bg2: #151c25;*/
  --darkmode-bg2: #141a24;
  --lightmode-bg1: white;
  --lightmode-bg2: rgb(247, 241, 241);
  --bg-navBar: rgba(0, 0, 0, 0.5);
  --navBar-links: #3179ff;
  /*--navBar-links: #0059ff;*/
  --text-white: #ffffff;
  --text-black: #000000; 

  /*switch*/
  --white: white;
  --greyLight-1: #e4ebf5;
  --greyLight-2: #c8d0e7;
  --greyDark: #9baacf;
}
  
body {
  font-family:roboto, Arial, Helvetica, sans-serif;
  transition: background-color 0.4s ease; /* Add the transition property */
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
	transition: background-color 0.4s ease;
}