header {
    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10rem;
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: var(--bg-navBar);
		-webkit-backdrop-filter: blur(.4rem);
    backdrop-filter: blur(.4rem); 
    transition: top 0.4s ease;
  }
  
.logo {
    font-size: 4rem;
		color: white;
}

.dot {
  background: var(--blue);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
    
.hamburger {
  display: none;
}
    
.nav-bar ul {
  display: flex;
}
    
.nav-bar ul li a {
  display: block;
  color: white;
  font-size: 2rem;
  padding: 1rem 2.5rem;
  border-radius: 1rem;
  transition: 0.2s;
  margin: 0 .7rem;
}
    
.nav-bar ul li a:hover {
  color: white;
  background: var(--blue);
}
  
.nav-bar ul li a:active,
.nav-bar ul li a.active:active {
  background: var(--blue);
}
  
.nav-bar ul li a.active {
  color: white;
  background-color: var(--blue);
}
    
@media only screen and (max-width: 1320px) {
	header {
		padding: 0 5rem;
	}
}
	
@media only screen and (max-width: 1100px) {
	header {
			padding: 0 3rem;
	}
}
	
@media only screen and (max-width: 980px) {
	.hamburger {
		display: block;
		cursor: pointer;
	}
	
	.hamburger .line {
		width: 3rem;
		height: .3rem;
		background: #fefefe;
		margin: .6rem 0;
	}

	.hamburger:hover .line {
		background-color: var(--blue);
		transition: background-color 0.15s;
	}
			
	.hamburger:active .line {
		background: #0059ff;
	}
	
	.nav-bar {
		height: 0rem;
		position: absolute;
		top: 10rem;
		left: 0;
		right: 0;
		width: 100vw;
		transition: 0.3s;
		overflow: hidden;
		z-index: 100;
		background-color: var(--bg-navBar);
		-webkit-backdrop-filter: blur(.4rem);
    backdrop-filter: blur(.4rem); 
	}
	
	.nav-bar.active {
		height: 45rem;
	}
	
	.nav-bar ul {
		display: block;
		width: fit-content;
		margin: 8rem auto 0 auto;
		text-align: center;
		transition: 0.5s;
		opacity: 0;
	}
	
	.nav-bar.active ul{
		opacity: 1;
	}
	
	.nav-bar ul li a {
		margin-bottom: 1.2rem;
	}
}